h1 {
    text-align: center;
}
h3 {
    margin-top: 20px;
}
#alasan-jadi-programmer {
    font-weight: bold;
}
img {
    width: 500px;
}
a {
    display: block;
}
#pendidikan ol {
    width: 30rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
#pendidikan li {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#hobi ul {
    display: flexbox;
    list-style: none;
}
#hobi li {
    margin: 1rem 1rem;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 48rem) {
    img {
        width: 200px;
        height: 200px;
    }
}

/* 
CSS Syntax 
CSS Syntax umumnya terbagi menjadi :
1.Selector = selector berfungsi sebagai penunjuk ke bagian html yg ingin diberi style, contoh : body, h1, p, a, div
2.Declaration = value yang akan dirubah pada elemen html yg ditunjuk selector

CSS Specificity
Jika ada dua atau lebih aturan CSS yang saling bertentangan yang mengarah 
ke elemen yang sama, browser mengikuti beberapa aturan untuk menentukan 
mana yang paling spesifik dan karenanya menang.


Responsive Website
Responsive website adalah kemampuan website untuk tampil 
baik di device yang berbeda-beda

CSS Media Queries
Media Queries adalah teknik di css yang menggunakan syntax @media untuk melaksanakan
perintah tertentu apabila suatu keadaan terpenuhi

CSS Flexbox & Grid
berfungsi untuk mengatur tampilan sebuah halaman web menjadi 
lebih terstruktur dan rapi. Perbedaannya hanya terletak pada arah pembagian dimensinya saja. 
Flexbox hanya dapat mengatur arah pembagian dimensi tampilan hanya 
secara horizontal saja atau secara vertikal saja.

Bootstrap
Bootstrap adalah Third-party packages yang mempermudah developer
untuk membuat front-end website, membuat design responsive dan masih banyak lagi
 */
